<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>org.robofab.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
		<string>T</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>uni0200</string>
		<string>uni0202</string>
		<string>uni0204</string>
		<string>uni0206</string>
		<string>uni0208</string>
		<string>uni020A</string>
		<string>uni020C</string>
		<string>uni020E</string>
		<string>uni0210</string>
		<string>uni0212</string>
		<string>uni0214</string>
		<string>uni0216</string>
		<string>uni021A</string>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>scommaaccent</string>
		<string>germandbls</string>
		<string>t</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uni0201</string>
		<string>uni0203</string>
		<string>uni0205</string>
		<string>uni0207</string>
		<string>uni0209</string>
		<string>uni020B</string>
		<string>uni020D</string>
		<string>uni020F</string>
		<string>uni0211</string>
		<string>uni0213</string>
		<string>uni0215</string>
		<string>uni0217</string>
		<string>uni021B</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zcaron</string>
		<string>uniFB01</string>
		<string>uniFB02</string>
		<string>E_E</string>
		<string>afii10017</string>
		<string>afii10018</string>
		<string>afii10019</string>
		<string>afii10020</string>
		<string>afii10052</string>
		<string>afii10021</string>
		<string>afii10022</string>
		<string>afii10023</string>
		<string>afii10024</string>
		<string>afii10025</string>
		<string>afii10026</string>
		<string>afii10027</string>
		<string>afii10028</string>
		<string>afii10061</string>
		<string>afii10029</string>
		<string>afii10030</string>
		<string>afii10031</string>
		<string>afii10032</string>
		<string>afii10033</string>
		<string>afii10034</string>
		<string>afii10035</string>
		<string>afii10036</string>
		<string>afii10037</string>
		<string>afii10062</string>
		<string>afii10038</string>
		<string>afii10039</string>
		<string>afii10041</string>
		<string>afii10040</string>
		<string>afii10042</string>
		<string>afii10043</string>
		<string>afii10145</string>
		<string>afii10049</string>
		<string>afii10046</string>
		<string>afii10044</string>
		<string>afii10045</string>
		<string>afii10058</string>
		<string>afii10059</string>
		<string>afii10054</string>
		<string>afii10053</string>
		<string>afii10047</string>
		<string>afii10055</string>
		<string>afii10056</string>
		<string>afii10057</string>
		<string>afii10060</string>
		<string>afii10048</string>
		<string>afii10051</string>
		<string>afii10065</string>
		<string>afii10066</string>
		<string>afii10067</string>
		<string>afii10068</string>
		<string>afii10100</string>
		<string>afii10069</string>
		<string>afii10070</string>
		<string>afii10071</string>
		<string>afii10072</string>
		<string>afii10073</string>
		<string>afii10074</string>
		<string>afii10075</string>
		<string>afii10076</string>
		<string>afii10109</string>
		<string>afii10077</string>
		<string>afii10078</string>
		<string>afii10079</string>
		<string>afii10080</string>
		<string>afii10081</string>
		<string>afii10082</string>
		<string>afii10083</string>
		<string>afii10084</string>
		<string>afii10085</string>
		<string>afii10110</string>
		<string>afii10086</string>
		<string>afii10087</string>
		<string>afii10089</string>
		<string>afii10088</string>
		<string>afii10090</string>
		<string>afii10091</string>
		<string>afii10193</string>
		<string>afii10094</string>
		<string>afii10092</string>
		<string>afii10093</string>
		<string>afii10106</string>
		<string>afii10107</string>
		<string>afii10101</string>
		<string>afii10095</string>
		<string>afii10096</string>
		<string>afii10097</string>
		<string>afii10099</string>
		<string>afii10102</string>
		<string>afii10103</string>
		<string>afii10104</string>
		<string>afii10105</string>
		<string>afii10108</string>
		<string>mu</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>onesuperior</string>
		<string>uni00B9</string>
		<string>twosuperior</string>
		<string>uni00B2</string>
		<string>threesuperior</string>
		<string>uni00B3</string>
		<string>uni2074</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>periodcentered</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>space</string>
		<string>uni000D</string>
		<string>florin</string>
		<string>Euro</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>sterling</string>
		<string>yen</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>uni2206</string>
		<string>afii61352</string>
		<string>ampersand</string>
		<string>at</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>copyright</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>degree</string>
		<string>paragraph</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>asciicircum</string>
		<string>uni030F</string>
		<string>uni0311</string>
		<string>uni0326</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
	</array>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
</dict>
</plist>
